@import './common/reset';

@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 10px;
}

body{
    font-family: 'ChosunGu'; font-size: 1rem;
    background: #f3ede7; box-sizing: border-box;
    display: flex; align-items: center; justify-content: center;
    min-height: 100vh;
}

textarea , input{
    font-family: 'ChosunGu';
}

.container{
    width: 56rem; margin: 0 auto;
}

@media screen and (max-width:1210px) {
    body{
        padding: 0 1.5rem;
    }
}