ul{
    border-radius: .5rem;
    text-align: center; font-size: 0; 
    li{
        display: inline-block;
        a{
            margin-left: -1px; padding: 1rem; 
            display: block; 
            border: 1px solid #dee2e6; 
            background: #fff;
            font-size: 1.6rem; 
            cursor: pointer; 
            &:hover{
                background: #42b883; 
                color: #fff; 
            }
            &.active{
                background: #42b883; 
                color: #fff; 
            }
        }
    }
}