.postWrap{
    padding: 2.5rem 2rem;
    border-radius: .5rem;
    background: #fff; 
    box-shadow: 0 4px 10px -4px rgba(0,0,0,0.2);
    .postLeft{
        .titleWrap{
            h2{
                padding-bottom: 1rem; 
                border-bottom: 1px solid #ddd;
                line-height: 3.5rem;
                font-size: 2.4rem; 
            }
        }
        .contentWrap{
            border-bottom: 1px solid #ddd;
            p{
                padding-top: 1.5rem; 
                min-height: 20rem; 
                font-size: 1.6rem;
            }
            .dateWrap{
                margin-bottom: 1.5rem;
                display: flex; justify-content: flex-end; 
                span{
                    &:nth-child(1){
                        margin-right: .5rem;
                    }
                    font-size: 1.4rem;
                }
            }
        }
    }
    .postRight{
        margin-top: 2rem;
        display: flex; justify-content: space-between; 
        button{
            display: inline-block;
            width: 10rem; height: 4rem;
            background: none;
            border: 1px solid #dee2e6; border-radius: .5rem;
            font-size: 1.4rem; 
            cursor: pointer; 
        }
        .buttonWrap{
            button{
                border: none;
                &:nth-child(1){
                    margin-right: 1rem;
                    background: #42b883; 
                    color: #fff; 
                }
                &:nth-child(2){
                    background: crimson; 
                    color: #fff;
                }
            }
        }
    }
}