@import './common/reset';

@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal; font-style: normal;
}

html{
    font-size: 10px;
}

body{
    font-family: 'ChosunSg'; font-size: 1rem;
    background: #F7EADF;
}

textarea , input{
    font-family: 'ChosunSg';
}

.container{
    display: flex; justify-content: center; align-items: center;
    min-height: calc(100vh - 21rem);
}