li{
    &:nth-child(8){
        border-bottom: 0;
    }
    height: 6rem; 
    border-bottom: 1px solid #ddd;
    button{
        background: none; 
        cursor: pointer; transition: all .5s;
    }
    &:hover{
        .itemWrap{
            .titleWrap{
                button{
                    opacity: 1;
                }
            }
        }
    }
    .itemWrap{
        display: flex; align-items: center;
        height: 100%; 
        .checkWrap{
            width: 5%; 
            text-align: center;
            button.xi-checkbox-blank{
                line-height: 6rem;
                font-size: 2.5rem; color: #000; 
            }
            button.xi-check-square-o{
                line-height: 6rem;
                font-size: 2.5rem; color: #42b883; 
            }
        }
        .titleWrap{
            display: flex; align-items: center;
            width: 90%; height: 100%; 
            h4{
                line-height: 6rem;
                font-size: 1.8rem; color: #222; 
                &.complete{
                    color: #999; 
                    text-decoration: line-through;
                }
                &.complete + .updateBtn{
                    display: none;
                }
            }
            form{
                display: flex; justify-content: space-between; 
                width: 70%;
                input{
                    width: 90%; 
                    line-height: 6rem;
                    font-size: 1.8rem; color: #222; font-weight: bold; 
                    &::placeholder{
                        color: #222;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                button{
                    line-height: 6rem;
                    font-size: 1.6rem; 
                }
            }
            .updateBtn{
                margin-left: 3rem; 
                line-height: 6rem;
                font-size: 1.2rem; 
                opacity: 0;
            }
        }
        .buttonWrap{
            width: 5%;  
            text-align: center;
            button{
                font-size: 2.5rem; color: rgb(255, 0, 0);
                &:hover{
                    color: rgba(255, 0, 0 , .5);
                }
            }
        }
    }
}

@media screen and (max-width:1210px) {
    li{
        width: 100%; 
    }
}

@media screen and (max-width:850px) {
    li{
        height: 5.5rem;
        .itemWrap{
            .checkWrap{
                width: 10%; 
                text-align: center;
                button.xi-checkbox-blank{
                    line-height: 5.5rem;
                    font-size: 2.2rem; 
                }
                button.xi-check-square-o{
                    line-height: 5.5rem;
                    font-size: 2.2rem; 
                }
            }
            .titleWrap{
                width: 80%;
                h4{
                    line-height: 5.5rem;
                    font-size: 1.6rem; 
                }
                form{
                    display: flex; justify-content: space-between;
                    width: 80%; 
                    input{
                        line-height: 5.5rem;
                        font-size: 1.6rem; 
                    }
                    button{
                        line-height: 5.5rem;
                        font-size: 1.6rem; 
                    }
                }
                .updateBtn{
                    margin-left: 2rem; 
                    line-height: 5.5rem;
                    font-size: 1.2rem; 
                }
            }
            .buttonWrap{
                width: 10%;  
                text-align: center;
                button{
                    font-size: 2.2rem;
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    li{
        .itemWrap{
            .checkWrap{
                width: 12.5%; 
                text-align: center;
            }
            .titleWrap{
                width: 75%;
            }
            .buttonWrap{
                width: 12.5%;  
                text-align: center;
            }
        }
    }
}