form{
    width: 120rem; height: 5rem; 
    font-size: 0;
    input{
        width: calc(100% - 5rem); 
        text-indent: 2rem; line-height: 5rem;
        font-size: 1.6rem; font-weight: bold; color: #fff; 
        background: #1C6B47;
        &::placeholder{
            color: #fff;
        }
        &:focus{
            outline: none;
        }
    }
    button{
        height: 5rem; width: 5rem; 
        font-size: 2rem; font-weight: bold; color: #fff; 
        background: #143828; 
        cursor: pointer;
    }
}


@media screen and (max-width:1210px) {
    form{
        width: 100%; 
    }
}

@media screen and (max-width:850px) {
    form{
        height: 4.5rem;
        input{
            line-height: 4.5rem;
        }
        button{
            height: 4.5rem;
        }
    }
}