header{
    width: 120rem; height: 6rem; 
    border-radius: 1rem 1rem 0 0;
    background: #42b883; 
    h1{
        text-align: center; line-height: 6rem; 
        font-size: 3rem; color: #fff;
    }
}

@media screen and (max-width:1210px) {
    header{
        width: 100%; 
    }
}

@media screen and (max-width:850px) {
    header{
        height: 5rem; 
        border-radius: 1rem 1rem 0 0;
        h1{
            line-height: 5rem;
            font-size: 2.5rem; 
        }
    }
}