.number{
    margin-bottom: 2rem;
    width: 9rem; height: 9rem;
    display: flex; justify-content: center; align-items: center;
    border: 1px solid #222; border-radius: 50%;
    font-size: 2rem; color: #222;
}
.btnWrap{
    button{
        width: 5rem; height: 3rem;
        display: inline-block; 
        border: 1px solid #fff; border-radius: .5rem;
        background: none;
        font-size: 2rem; color: #fff;
        cursor: pointer;
        &:first-child{
            margin-right: 1rem;
            background: rgb(1, 87, 1);
        }
        &:last-child{
            background: rgb(247, 73, 73);
        }
    }
}