@import './common/reset';

@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 10px;
}

body{
    font-family: 'ChosunGu'; font-size: 1rem;
    background: #f3ede7; 
    box-sizing: border-box;
}

input{
    font-family: 'ChosunGu';
}

.container{
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    min-height: 100vh;
    &.modalOn{
        overflow: hidden;
    }
}

@media screen and (max-width:1210px) {
    body{
        padding: 0 1.5rem;
    }
}

ul{
    overflow-y: auto;
    width: 120rem; min-height: 48.8rem;  
    border-radius:  0 0 1rem 1rem; 
    background: #fff;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 0 0 1rem 0;
    }
    &::-webkit-scrollbar-track {
        background-color: #D6D2C4;
        border-radius: 0 0 1rem 0;
    }
}

@media screen and (max-width:1210px) {
    ul{
        width: 100%;
        border-radius:  0 0 1rem 1rem;
    }
}

@media screen and (max-width:850px) {
    ul{
        min-height: 44.8rem;
    }
}