ul{
    border-radius: .5rem; 
}
.btnWrap{
    display: flex; justify-content: center;
    button{
        padding: 1rem; 
        display: inline-block; 
        border-radius: 50%;
        background: #ddd; 
        font-size: 3rem; color: #000;
        cursor: pointer;
        &:hover{
            color: #42b883; 
            transition: all .5s;
        }
    }
}